//----------------------------------------------------
//- / CDN
//----------------------------------------------------

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
//-script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
//-script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
//-script(src="https://cdn.jsdelivr.net/npm/vue")
//-script(src="https://cdn.jsdelivr.net/npm/lazysizes@4.1.1/lazysizes.min.js")

//----------------------------------------------------
//- / Javascript
//----------------------------------------------------

script(src=page.climb+path.js+"/app.min.js"+"?ver="+dateNow)