//----------------------------------------------------
//- Page: Index
//----------------------------------------------------
extends base/_layout.pug

block vars
    include base/_config.pug
    - var key = "index"
    - var page = pages[key]

block contents

  include parts/_header.pug

  main.section.is-main#main

    section.section.is-content
      .inner
        h2= page.title + " Main"

  include parts/_footer.pug