//----------------------------------------------------
//- Parts: Footer
//----------------------------------------------------

footer.section.is-footer#footer

  section.section.is-footer-copyright
    .inner
      p.texts.is-copyright.is-center.is-light= "© 2018" + site.title