//----------------------------------------------------
//- Parts: Footer
//----------------------------------------------------

footer.section.is-footer#footer

  section.section.is-footer-nav#footer-nav
    .inner
      p= page.title + " Footer"