//----------------------------------------------------
//- Parts: Header
//----------------------------------------------------

header.section.is-header#header

  section.section.is-header-nav#header-nav
    .inner
      h1= page.title + " Header"