<%#
//----------------------------------------------------
// Footer
//----------------------------------------------------
%>
<!-- + Footer -->
<footer class="section is-footer" id="footer">
  <section class="section is-footer-copyright">
    <div class="inner">
      <p class="texts is-copyright is-center is-light">© <%= dateNowYear %> <%= site.title %></p>
    </div>
  </section>
</footer>
<!-- - Footer -->
<%- include("/inc/_script") %>
</body>
</html>