<%#
//----------------------------------------------------
// Header
//----------------------------------------------------
%>
<!-- + Header -->
<header class="section is-header" id="header">
  <div class="inner">
    <%- include("/components/_logo") %>
    <%- include("/components/_menu-global") %>
  </div>
</header>
<!-- - Header -->