//----------------------------------------------------
// Project Stylesheet
//----------------------------------------------------

//----------------------------------------------------
// / Include
//----------------------------------------------------

//@import "include/**";

//----------------------------------------------------
// / Setting
//----------------------------------------------------

// Project Variable
$pjt-color-red: #f44336;
$pjt-color-blue: #2196f3;
$pjt-color-green: #4caf50;
$pjt-color-yellow: #ffeb3b;
$pjt-color-orange: #ff9800;
$pjt-color-grey: #9e9e9e;
$pjt-header-height: 56px;
$pjt-header-height-mobile: 56px;
$pjt-header-height-desktop: 64px;
$pjt-header-height-wide: 72px;
$pjt-border-radius: 3px;

// MUSUBii Override Variable
//$font-sans: YakuHanJPs, "Noto Sans JP", Meiryo, sans-serif;
//$font-serif: YakuHanMPs, "Noto Serif JP", Meiryo, serif;
//$font-sans: YakuHanRPs, "M PLUS Rounded 1c", Meiryo, sans-serif;
//$btn-border-radius: $project-border-radius;
//$input-border-radius: $project-border-radius;

// Brand Variable
$brand-color-twitter: #1da1f2;
$brand-color-facebook: #3b5998;
$brand-color-google-plus: #dd4b39;
$brand-color-line: #00c300;
$brand-color-hatena-bookmark: #00a4de;
$brand-color-pocket: #ef4056;
$brand-color-feedly: #2bb24c;
$brand-color-rss: #f26522;

//----------------------------------------------------
// / Import
//----------------------------------------------------

@import "moftone/src/scss/tone/_moftone.scss";
@import "sass-dashi/src/scss/_dashi.scss";
@import "iostone/src/scss/tone/_iostone.scss";
@import "shitajicss/src/scss/_shitaji.scss";
@import "musubii/src/scss/config/_variable.scss";
@import "musubii/src/scss/base/_global.scss";
@import "musubii/src/scss/layout/_section.scss";
@import "musubii/src/scss/layout/_grid.scss";
@import "musubii/src/scss/layout/_space.scss";
@import "musubii/src/scss/module/_heading.scss";
@import "musubii/src/scss/module/_text.scss";
@import "musubii/src/scss/module/_button.scss";
@import "musubii/src/scss/module/_list.scss";
@import "musubii/src/scss/module/_table.scss";
@import "musubii/src/scss/module/_form.scss";
@import "musubii/src/scss/module/_icon.scss";
@import "musubii/src/scss/module/_alert.scss";
@import "musubii/src/scss/module/_wysiwyg.scss";
@import "musubii/src/scss/utility/_size.scss";
@import "musubii/src/scss/utility/_flex.scss";
@import "musubii/src/scss/utility/_deco.scss";
@import "musubii/src/scss/utility/_display.scss";
@import "musubii/src/scss/utility/_clearfix.scss";

//----------------------------------------------------
// / Project
//----------------------------------------------------

//@import "project/_musubii";
@import "project/_badge";
@import "project/_button";
@import "project/_card";
@import "project/_gototop";
@import "project/_heading";
@import "project/_icon";
@import "project/_iframe";
@import "project/_logo";
@import "project/_menu";
@import "project/_modal";
@import "project/_pagination";
@import "project/_section";
@import "project/_space";